@page
@model Pizzeria.Pages.Checkout.CheckoutModel

<h1>Your Order is ready!</h1>
@{
    string imagePath = "~/images/Pizzas/" + @Model.ImageTitle + ".png";
}
<div class="align-content-center">
    <div class="col-3 mx-auto mb-5">
        <img src=@imagePath class="w-100" asp-append-version="true" />
        <p>Order Information:</p>
        <p>@Model.PizzaName</p>
        <p>Total Price: @Model.PizzaPrice</p>
        <a class="btn btn-primary mt-1 mx-auto" asp-area="" asp-page="ThankYou">Confirm Order</a>
    </div>
</div>