@page
@model Pizzeria.Pages.OrdersModel

<h1>Orders</h1>
<hr />

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.pizzaOrders)
        {
            <tr>
                <th>@order.Id</th>
                <th>@order.PizzaName</th>
                <th>@order.BasePrice</th>
            </tr>
        }
    </tbody>
</table>